Implementation/VARUS
Implementation/bam2hints
Implementation/src/bam2hints/bam2hints
*.o
*~
GettingStarted/Pombe/Log.out
runVarus.log
GettingStarted/Pombe/runVarus.log
GettingStarted/Pombe/Schizosaccharomyces_pombe/
example/Log.out
example/S.pombe.err
example/S.pombe.log
example/Schizosaccharomyces_pombe/
